<h1>Doctors Directory</h1>

<%= search_form_for @q, data: { turbo_frame: "search" } do |f| %>
  <div class="relative">
    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
      <%= heroicon "magnifying-glass" %>
    </div>
    <%= f.text_field :name_or_city_cont, class:"search-input p-3 pl-10 text-sm", onkeyup:"search()", placeholder: "Search ..." %>
  </div>
<% end %>

<div class="table-responsive mt-8">
  <table>
    <thead>
      <tr>
        <th></th>
        <th><%= sort_link(@q, :name) %></th>
        <th><%= sort_link(@q, :email) %></th>
        <th><%= sort_link(@q, :created_at) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="text-center">
            <%= avatar(user, 60) %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= mail_to user.email, 'data-tippy-content': 'Click to send an email' %>
          </td>
          <td>
            <%= user.city %>
          </td>
          <td>
            <a data-modal-url="<%= new_appointment_path(user_id: user.id) %>" data-modal-title="Book an Appointment" class="btn btn-outline">Book Appointment</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center mt-10">
  <%== pagy_nav(@pagy) %>
</div>
