<h1>Appointments List</h1>

<div class="table-responsive mt-8">
  <table>
    <thead>
      <tr>
        <th></th>
        <% if @is_doctor %>
          <th>Patient</th>
        <% else %>
          <th>Doctor</th>
          <th>City</th>
        <% end %>
        <th><%= sort_link(@q, :appointment_date) %></th>
        <th><%= sort_link(@q, :appointment_time) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <% if @is_doctor %>
            <td class="text-center">
              <%= avatar(appointment.patient, 60) %>
            </td>
            <td>
              <%= appointment.patient.name %>
            </td>
          <% else %>
            <td class="text-center">
              <%= avatar(appointment.doctor, 60) %>
            </td>
            <td>
              <%= appointment.doctor.name %>
            </td>
            <td>
              <%= appointment.doctor.city %>
            </td>
          <% end %>
          <td>
            <%= appointment_date(appointment) %>
          </td>
          <td>
            <%= appointment_time(appointment) %>
          </td>
          <td>
            <a data-modal-url="<%= "/appointments/#{appointment.id}" %>" data-modal-title="Appointment details" class="btn btn-outline">Details</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center mt-10">
  <%== pagy_nav(@pagy) %>
</div>
