<h1>Appointments List</h1>
<% @appointments.each do |appointment| %>
  <p>Doctor: <%= appointment.doctor.name %></p>
  <p>City: <%= appointment.doctor.city %></p>
  <p>Appointment Date: <%= appointment.appointment_date %></p>
  <p>Appointment Time: <%= appointment.appointment_time %></p>
  <p>Appointment patient: <%= appointment.patient.name%></p>
<% end %>
